<!DOCTYPE HTML>
<!--
	Urban by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Inspection Project Database by Kevin Lewis</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/css/main.css" />
	</head>
	<body class="subpage">
        <script src="/js/dbcon1.js"></script>
		<!-- Header -->
			<header id="header">
				<div class="logo">Inspection Project Database <span>by Kevin Lewis</span></div>
				<a href="#menu">Menu</a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="flip1.engr.oregonstate.edu:2333/bridge">Add Bridge</a></li>
					<li><a href="flip1.engr.oregonstate.edu:2333/loa">Add LOA</a></li>
					<li><a href="flip1.engr.oregonstate.edu:2333/employee">Add Employee</a></li>
                    <li><a href="flip1.engr.oregonstate.edu:2333/office">Add Office</a></li>
                    <li><a href="flip1.engr.oregonstate.edu:2333/inspection">Add Inspection</a></li>
                    <li><a href="flip1.engr.oregonstate.edu:2333/report">Add Report</a></li>
                    <li><a href="flip1.engr.oregonstate.edu:2333/AssReport">Assign Report</a></li>
                    <li><a href="flip1.engr.oregonstate.edu:2333/AssInsp">Assign Inspection</a></li>
                    <li><a href="flip1.engr.oregonstate.edu:2333/LOA_Status">LOA Status</a></li>
                    <li><a href="flip1.engr.oregonstate.edu:2333/Insp_Status">Inspection Status</a></li>
                    <li><a href="flip1.engr.oregonstate.edu:2333/Rep_Status">Report Status</a></li>
                    
                    
				</ul>
			</nav>
	{{{body}}}
        <script src="/js/jquery.min.js"></script>
        <script src="/js/jquery.scrolly.min.js"></script>
        <script src="/js/jquery.scrollex.min.js"></script>
        <script src="/js/skel.min.js"></script>
        <script src="/js/util.js"></script>
        <script src="/js/main.js"></script>
    </body>
</html>